@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.drag-head {
  -webkit-app-region: drag;
}

.input-noborders {
  border: unset !important;
  outline: unset !important;
}

.input-noborders:focus {
  border: unset !important;
  outline: unset !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}